# ----------------------
# Flask
# ----------------------
flask
flask-restful
flask-jwt
pyfcm

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
mongoengine

# ----------------------
# Other
# ----------------------
youtube-dl
Django==1.10.6
responses==0.3
requests>=2.6.0